.container {
    display: block;
    float: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.row {
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
}

[class*='column-'] {
    clear: right;
    float: left;
    overflow: hidden;
}

.float-right [class*='column-'] {
    clear: left;
    float: right;
}

.gutters [class*='column-'] {
    margin-left: 2%;
}

.gutters [class*='column-']:first-child {
    margin-left: 0;
}

/* ===================================
        1
=================================== */

.column-1 {
  width: calc(100% / 12 * 1);
}

.gutters .column-1 {
  width: calc(98% / 12 * 1);
}

.push-1 {
    margin-left: calc(100% / 12 * 1);
}

.break-1 {
    margin-left: calc(100% / 12 * -1);
}

/* ===================================
        2
=================================== */

.column-2 {
  width: calc(100% / 12 * 2);
}

.gutters .column-2 {
  width: calc(98% / 12 * 2);
}

.push-2 {
    margin-left: calc(100% / 12 * 2);
}

.break-2 {
    margin-left: calc(100% / 12 * -2);
}

/* ===================================
        3
=================================== */

.column-3 {
  width: calc(100% / 12 * 3);
}

.gutters .column-3 {
  width: calc(98% / 12 * 3);
}

.push-3 {
    margin-left: calc(100% / 12 * 3);
}

.break-3 {
    margin-left: calc(100% / 12 * -3);
}

/* ===================================
        4
=================================== */

.column-4 {
  width: calc(100% / 12 * 4);
}

.gutters .column-4 {
  width: calc(98% / 12 * 4);
}

.push-4 {
    margin-left: calc(100% / 12 * 4);
}

.break-4 {
    margin-left: calc(100% / 12 * -4);
}

/* ===================================
        5
=================================== */

.column-5 {
  width: calc(100% / 12 * 5);
}

.gutters .column-5 {
  width: calc(98% / 12 * 5);
}

.push-5 {
    margin-left: calc(100% / 12 * 5);
}

.break-5 {
    margin-left: calc(100% / 12 * -5);
}

/* ===================================
        6
=================================== */

.column-6 {
  width: calc(100% / 12 * 6);
}

.gutters .column-6 {
  width: calc(98% / 12 * 6);
}

.push-6 {
    margin-left: calc(100% / 12 * 6);
}

.break-6 {
    margin-left: calc(100% / 12 * -6);
}

/* ===================================
        7
=================================== */

.column-7 {
  width: calc(100% / 12 * 7);
}

.gutters .column-7 {
  width: calc(98% / 12 * 7);
}

.push-7 {
    margin-left: calc(100% / 12 * 7);
}

.break-7 {
    margin-left: calc(100% / 12 * -7);
}

/* ===================================
        8
=================================== */

.column-8 {
  width: calc(100% / 12 * 8);
}

.gutters .column-8 {
  width: calc(98% / 12 * 8);
}

.push-8 {
    margin-left: calc(100% / 12 * 8);
}

.break-8 {
    margin-left: calc(100% / 12 * -8);
}

/* ===================================
        9
=================================== */

.column-9 {
  width: calc(100% / 12 * 9);
}

.gutters .column-9 {
  width: calc(98% / 12 * 9);
}

.push-9 {
    margin-left: calc(100% / 12 * 9);
}

.break-9 {
    margin-left: calc(100% / 12 * -9);
}

/* ===================================
        10
=================================== */

.column-10 {
  width: calc(100% / 12 * 10);
}

.gutters .column-10 {
  width: calc(98% / 12 * 10);
}

.push-10 {
    margin-left: calc(100% / 12 * 10);
}

.break-10 {
    margin-left: calc(100% / 12 * -10);
}

/* ===================================
        11
=================================== */

.column-11 {
  width: calc(100% / 12 * 11);
}

.gutters .column-11 {
  width: calc(98% / 12 * 11);
}

.push-11 {
    margin-left: calc(100% / 12 * 11);
}

.break-11 {
    margin-left: calc(100% / 12 * -11);
}

/* ===================================
        12
=================================== */

.column-12,
.gutters .column-12 {
  width: calc(100% / 12 * 12);
}

.push-12 {
    margin-left: calc(100% / 12 * 12);
}

.break-12 {
    margin-left: calc(100% / 12 * -12);
}

/* ===================================
        height
=================================== */
