.container {
    display: block;
    float: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.row {
    width: 100%;
    overflow: auto;
    display: block;
}

[class*='column-'] {
    clear: right;
    float: left;
}

.float-right [class*='column-'] {
    clear: left;
    float: right;
}

.gutters [class*='column-'] {
    margin-left: 2%;
}

.gutters [class*='column-']:first-child {
    margin-left: 0;
}

/* ===================================
        1
=================================== */

.column-1 {
  width: 8.33%;
}

.gutters .column-1 {
  width: 6.5%;
}

.break-left-1 {
    margin-left: -8.33%;
}

.gutters .break-left-1 {
  margin-left: -6.5%;
}

.break-right-1 {
    margin-right: -8.33%;
}

.gutters .break-right-1 {
  margin-right: -6.5%;
}

/* ===================================
        2
=================================== */

.column-2 {
  width: 16.66%;
}

.gutters .column-2 {
  width: 15.0%;
}

.break-left-2 {
    margin-left: -16.66%;
}

.gutters .break-left-2 {
    margin-left: -15.0%;
}

.break-right-2 {
    margin-right: -16.66%;
}

.gutters .break-right-2 {
    margin-right: -15.0%;
}

/* ===================================
        3
=================================== */

.column-3 {
  width: 25%;
}

.gutters .column-3 {
  width: 23.5%;
}

.break-left-3 {
    margin-left: -25%;
}

.gutters .break-left-3 {
    margin-left: -23.5%;
}

.break-right-3 {
    margin-right: -25%;
}

.gutters .break-right-3 {
    margin-right: -23.5%;
}

/* ===================================
        4
=================================== */

.column-4 {
  width: 33.33%;
}

.gutters .column-4 {
  width: 32.0%;
}

.break-left-4 {
    margin-left: -33.33%;
}

.gutters .break-left-4 {
    margin-left: -32.0%;
}

.break-right-4 {
    margin-right: -33.33%;
}

.gutters .break-right-4 {
    margin-right: -32.0%;
}

/* ===================================
        5
=================================== */

.column-5 {
  width: 41.66%;
}

.gutters .column-5 {
  width: 40.5%;
}

.break-left-5 {
    margin-left: -41.66%;
}

.gutters .break-left-5 {
    margin-left: -40.5%;
}

.break-right-5 {
    margin-right: -41.66%;
}

.gutters .break-right-5 {
    margin-right: -40.5%;
}

/* ===================================
        6
=================================== */

.column-6 {
  width: 50%;
}

.gutters .column-6 {
  width: 49.0%;
}

.break-left-6 {
    margin-left: -50%;
}

.gutters .break-left-6 {
    margin-left: -49.0%;
}

.break-right-6 {
    margin-right: -50%;
}

.gutters .break-right-6 {
    margin-right: -49.0%;
}

/* ===================================
        7
=================================== */

.column-7 {
  width: 58.33%;
}

.gutters .column-7 {
  width: 57.5%;
}

.break-left-7 {
    margin-left: -58.33%;
}

.gutters .break-left-7 {
    margin-left: -57.5%;
}

.break-right-7 {
    margin-right: -58.33%;
}

.gutters .break-right-7 {
    margin-right: -57.5%;
}

/* ===================================
        8
=================================== */

.column-8 {
  width: 66.66%;
}

.gutters .column-8 {
  width: 66.0%;
}

.break-left-8 {
    margin-left: -66.66%;
}

.gutters .break-left-8 {
    margin-left: -66.0%;
}

.break-right-8 {
    margin-right: -66.66%;
}

.gutters .break-right-8 {
    margin-right: -66.0%;
}

/* ===================================
        9
=================================== */

.column-9 {
  width: 75%;
}

.gutters .column-9 {
  width: 74.5%;
}

.break-left-9 {
    margin-left: -75%;
}

.gutters .break-left-9 {
    margin-left: -74.5%;
}

.break-right-9 {
    margin-right: -75%;
}

.gutters .break-right-9 {
    margin-right: -74.5%;
}

/* ===================================
        10
=================================== */

.column-10 {
  width: 83.33%;
}

.gutters .column-10 {
  width: 83.0%;
}

.break-left-10 {
    margin-left: -83.33%;
}

.gutters .break-left-10 {
    margin-left: -83.0%;
}

.break-right-10 {
    margin-right: -83.33%;
}

.gutters .break-right-10 {
    margin-right: -83.0%;
}

/* ===================================
        11
=================================== */

.column-11 {
  width: 91.66%;
}

.gutters .column-11 {
  width: 91.5%;
}

.break-left-11 {
    margin-left: -91.66%;
}

.gutters .break-left-11 {
    margin-left: -91.5%;
}

.break-right-11 {
    margin-right: -91.66%;
}

.gutters .break-right-11 {
    margin-right: -91.5%;
}

/* ===================================
        12
=================================== */

.column-12,
.gutters .column-12 {
  width: 100%;
}

.break-left-12 {
    margin-left: -100%;
}

.gutters .break-left-12 {
    margin-left: -100%;
}

.break-right-12 {
    margin-right: -100%;
}

.gutters .break-right-12 {
    margin-right: -100%;
}

/* ===================================
        height
=================================== */
